## Model Iteration
Date Created: 14 February 2016

This model iteration is used to make crime category predictions for test data for San Francisco Crime Classification kaggle competition
https://www.kaggle.com/c/sf-crime

as of 14.02.16
Rank: /
Score: %

In [2]:
### Importing Modules and Data

In [22]:
import pandas as pd
import numpy as np
import zipfile

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.ensemble import GradientBoostingClassifier

In [23]:
#importing train dataset
z_train = zipfile.ZipFile('train.csv.zip')
train = pd.read_csv(z_train.open('train.csv'), parse_dates=['Dates'], index_col=False)

In [24]:
#importing test dataset
z_test = zipfile.ZipFile('test.csv.zip')
test = pd.read_csv(z_test.open('test.csv'), parse_dates=['Dates'], index_col=False)

### Modifying and Trimming Data

Here, we analyze data and modify it accordingly. As we see the data columns for the training and testing data, we see that the resolution column is not really needed. Moreover, some data types such as PdDistrict and Address seem to have some overlap, so we may pick to use one of them, or some altered version of each. Also, we dropped the Descript column from the train data will be dropped as there are great number of unique values, and are not present in the test data.

In [25]:
print train.info()
print "----------------------------------"
print test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null datetime64[ns]
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 67.0+ MB
None
----------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 884262 entries, 0 to 884261
Data columns (total 7 columns):
Id            884262 non-null int64
Dates         884262 non-null datetime64[ns]
DayOfWeek     884262 non-null object
PdDistrict    884262 non-null object
Address       884262 non-null object
X             884262 non-null float64
Y             884262 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 54.0+ MB
None

In [26]:
train = train.drop(['Descript', 'Resolution', 'Address'], axis = 1)
test = test.drop(['Address'], axis = 1)

### Tools

The information in some of the columns in the data are extracted & seperated into different columns for better evaluation. 

The extract_date function alters the Dates column in the data set to be used more conveniently. Previously, one column held all of year, month, day, and specific time, but now we divide it up. By doing this we can see trends in crime within different days, different years, and a lot of flexibility becomes available.

The extract_time function divides the Time column into Hour, Minute and Second. We will mainly be using the time column

The make_binary_features function, allows us to create dummy variables with data from pre-existing columns. Dummy variables work extremely well with Random Forrest Regression, although the number of columns in the data set are increased. This will probably be used for randomforest or gradient boosting method.

In [27]:
 def extract_date(df):
    """
    function specifically for Dates field only
    creates new field 
    Year  YYYY
    Month MM
    Date  DD
    Time  HH:MM:SS
    """
    df['Year'] = df['Dates'].apply(lambda x: x[:4])
    df['Month'] = df['Dates'].apply(lambda x: x[5:7])
    df['Date'] = df['Dates'].apply(lambda x: x[8:10])
    df['Time'] = df['Dates'].apply(lambda x: x[-9:])
    return

def extract_time(df):
    """
    function specifically for Time field only
    creates new field 
    Hour   HH
    Minute MM
    Second SS
    """
    df['Hour'] = df['Time'].apply(lambda x: x[:3])
    df['Minute'] = df['Time'].apply(lambda x: x[4:6])
    df['Second'] = df['Time'].apply(lambda x: x[7:9])
    return

def make_binary_fields(df, field):
    """
    creates new field with field name as the name of data 
    if the original data match the new field name, the data will be 1
    if the original data does not match the new field name, the data will be 0

    
    ex 
    make_binary_field(df, 'DayOfWeek')
    will create new fields
    Monday, Tuesday, Wednesday, Thursday, Friday, Saturday and Sunday
    where
    df['Monday'] will have value 1 for all Mondays and 0 for the rest
    """
    for new_field in df[field].unique():
        df[new_field] = df[field]
        df.loc[df[new_field] != new_field, new_field] = 0
        df.loc[df[new_field] == new_field, new_field] = 1
    return

### Additional Functions

From a source we used from the kaggle scripts, we create a streamlined function that adds new time categories to the data set based off of the 'Dates' category.

In [28]:
def time_trim(data):
    data['Day'] = data['Dates'].dt.day
    data['Month'] = data['Dates'].dt.month
    data['Year'] = data['Dates'].dt.year
    data['Hour'] = data['Dates'].dt.hour
    data['Minute'] = data['Dates'].dt.minute
    data['DayOfWeek'] = data['Dates'].dt.dayofweek
    data['WeekOfYear'] = data['Dates'].dt.weekofyear
    return data

In [29]:
train = time_trim(train)
test = time_trim(test)

train.drop(['Dates','Minute'], axis = 1)
test.drop(['Dates','Minute'], axis = 1)

,Id,DayOfWeek,PdDistrict,X,Y,Day,Month,Year,Hour,WeekOfYear
0,0,6,BAYVIEW,-122.399588,37.735051,10,5,2015,23,19
1,1,6,BAYVIEW,-122.391523,37.732432,10,5,2015,23,19
2,2,6,NORTHERN,-122.426002,37.792212,10,5,2015,23,19
3,3,6,INGLESIDE,-122.437394,37.721412,10,5,2015,23,19
4,4,6,INGLESIDE,-122.437394,37.721412,10,5,2015,23,19
5,5,6,TARAVAL,-122.459024,37.713172,10,5,2015,23,19
6,6,6,INGLESIDE,-122.425616,37.739351,10,5,2015,23,19
7,7,6,INGLESIDE,-122.412652,37.739750,10,5,2015,23,19
8,8,6,MISSION,-122.418700,37.765165,10,5,2015,23,19
9,9,6,CENTRAL,-122.413935,37.798886,10,5,2015,23,19
10,10,6,INGLESIDE,-122.408608,37.746787,10,5,2015,23,19
11,11,6,MISSION,-122.411094,37.761048,10,5,2015,23,19
12,12,6,MISSION,-122.411094,37.761048,10,5,2015,23,19
13,13,6,CENTRAL,-122.402131,37.799364,10,5,2015,23,19
14,14,6,CENTRAL,-122.420747,37.807588,10,5,2015,23,19
15,15,6,TENDERLOIN,-122.415508,37.781654,10,5,2015,22,19
16,16,6,TARAVAL,-122.455679,37.723702,10,5,2015,22,19
17,17,6,INGLESIDE,-122.400298,37.717181,10,5,2015,22,19
18,18,6,NORTHERN,-122.433669,37.787709,10,5,2015,22,19
19,19,6,NORTHERN,-122.422150,37.797824,10,5,2015,22,19
20,20,6,NORTHERN,-122.422150,37.797824,10,5,2015,22,19
21,21,6,MISSION,-122.415464,37.766937,10,5,2015,22,19
22,22,6,CENTRAL,-122.406821,37.804828,10,5,2015,21,19
23,23,6,INGLESIDE,-122.407922,37.709004,10,5,2015,21,19
24,24,6,NORTHERN,-122.431290,37.772055,10,5,2015,21,19
25,25,6,RICHMOND,-122.469907,37.783616,10,5,2015,21,19
26,26,6,NORTHERN,-122.431149,37.777698,10,5,2015,21,19
27,27,6,SOUTHERN,-122.403405,37.775421,10,5,2015,21,19
28,28,6,INGLESIDE,-122.450676,37.735401,10,5,2015,21,19
29,29,6,TARAVAL,-122.472131,37.753391,10,5,2015,21,19
...,...,...,...,...,...,...,...,...,...,...
884232,884232,2,MISSION,-122.409436,37.755178,1,1,2003,0,1
884233,884233,2,SOUTHERN,-122.392671,37.782399,1,1,2003,0,1
884234,884234,2,RICHMOND,-122.492762,37.773097,1,1,2003,0,1
884235,884235,2,INGLESIDE,-122.451164,37.745564,1,1,2003,0,1
884236,884236,2,MISSION,-122.424037,37.762751,1,1,2003,0,1
884237,884237,2,CENTRAL,-122.414933,37.791255,1,1,2003,0,1
884238,884238,2,TARAVAL,-122.477977,37.726935,1,1,2003,0,1
884239,884239,2,MISSION,-122.408983,37.751987,1,1,2003,0,1
884240,884240,2,RICHMOND,-122.443835,37.792137,1,1,2003,0,1
884241,884241,2,BAYVIEW,-122.409221,37.731393,1,1,2003,0,1
884242,884242,2,MISSION,-122.414683,37.758077,1,1,2003,0,1
884243,884243,2,MISSION,-122.435950,37.758403,1,1,2003,0,1
884244,884244,2,BAYVIEW,-122.407721,37.724547,1,1,2003,0,1
884245,884245,2,TENDERLOIN,-122.413754,37.783730,1,1,2003,0,1
884246,884246,2,BAYVIEW,-122.383085,37.731752,1,1,2003,0,1
884247,884247,2,MISSION,-122.409125,37.757678,1,1,2003,0,1
884248,884248,2,CENTRAL,-122.405065,37.798013,1,1,2003,0,1
884249,884249,2,CENTRAL,-122.409061,37.796679,1,1,2003,0,1
884250,884250,2,SOUTHERN,-122.403405,37.775421,1,1,2003,0,1
884251,884251,2,MISSION,-122.407808,37.763099,1,1,2003,0,1
884252,884252,2,INGLESIDE,-122.445466,37.731460,1,1,2003,0,1
884253,884253,2,CENTRAL,-122.410722,37.787097,1,1,2003,0,1
884254,884254,2,CENTRAL,-122.418239,37.790933,1,1,2003,0,1
884255,884255,2,INGLESIDE,-122.414190,37.747319,1,1,2003,0,1
884256,884256,2,MISSION,-122.425864,37.766254,1,1,2003,0,1
884257,884257,2,MISSION,-122.408983,37.751987,1,1,2003,0,1
884258,884258,2,NORTHERN,-122.425342,37.792681,1,1,2003,0,1
884259,884259,2,INGLESIDE,-122.445418,37.712075,1,1,2003,0,1
884260,884260,2,BAYVIEW,-122.387394,37.739479,1,1,2003,0,1
884261,884261,2,TARAVAL,-122.489714,37.733950,1,1,2003,0,1

In [34]:
train['PdDistrict'].unique

<bound method Series.unique of 0           NORTHERN
1           NORTHERN
2           NORTHERN
3           NORTHERN
4               PARK
5          INGLESIDE
6          INGLESIDE
7            BAYVIEW
8           RICHMOND
9            CENTRAL
10           CENTRAL
11           TARAVAL
12        TENDERLOIN
13          NORTHERN
14           BAYVIEW
15           BAYVIEW
16        TENDERLOIN
17         INGLESIDE
18           BAYVIEW
19        TENDERLOIN
20         INGLESIDE
21         INGLESIDE
22        TENDERLOIN
23        TENDERLOIN
24          NORTHERN
25        TENDERLOIN
26          NORTHERN
27         INGLESIDE
28           TARAVAL
29           TARAVAL
             ...
878019      SOUTHERN
878020      NORTHERN
878021      NORTHERN
878022       MISSION
878023    TENDERLOIN
878024          PARK
878025       BAYVIEW
878026       BAYVIEW
878027      SOUTHERN
878028      SOUTHERN
878029    TENDERLOIN
878030    TENDERLOIN
878031       BAYVIEW
878032      NORTHERN
878033      RICHMOND
878034      RICHMOND
878035      NORTHERN
878036      NORTHERN
878037      NORTHERN
878038    TENDERLOIN
878039      NORTHERN
878040       MISSION
878041      RICHMOND
878042       BAYVIEW
878043       BAYVIEW
878044       TARAVAL
878045     INGLESIDE
878046      SOUTHERN
878047      SOUTHERN
878048       BAYVIEW
Name: PdDistrict, dtype: object>

In [36]:
from sklearn.preprocessing import LabelEncoder
enc_pdd = LabelEncoder()

train['PdDistrict'] = enc_pdd.fit_transform(train['PdDistrict'])
test['PdDistrict'] = enc_pdd.fit_transform(test['PdDistrict'])

enc_cat = LabelEncoder()

enc_cat.fit(train['Category'])
train['CategoryEncoded'] = enc_cat.transform(train['Category'])

enc_day = LabelEncoder()
train['DayOfWeek'] = enc_day.fit_transform(train['DayOfWeek'])

print train['DayOfWeek']

0         2
1         2
2         2
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        2
11        2
12        2
13        2
14        2
15        2
16        2
17        2
18        2
19        2
20        2
21        2
22        2
23        2
24        2
25        2
26        2
27        2
28        2
29        2
         ..
878019    0
878020    0
878021    0
878022    0
878023    0
878024    0
878025    0
878026    0
878027    0
878028    0
878029    0
878030    0
878031    0
878032    0
878033    0
878034    0
878035    0
878036    0
878037    0
878038    0
878039    0
878040    0
878041    0
878042    0
878043    0
878044    0
878045    0
878046    0
878047    0
878048    0
Name: DayOfWeek, dtype: int64

In [20]:
print enc_cat.classes_

['ARSON' 'ASSAULT' 'BAD CHECKS' 'BRIBERY' 'BURGLARY' 'DISORDERLY CONDUCT'
 'DRIVING UNDER THE INFLUENCE' 'DRUG/NARCOTIC' 'DRUNKENNESS' 'EMBEZZLEMENT'
 'EXTORTION' 'FAMILY OFFENSES' 'FORGERY/COUNTERFEITING' 'FRAUD' 'GAMBLING'
 'KIDNAPPING' 'LARCENY/THEFT' 'LIQUOR LAWS' 'LOITERING' 'MISSING PERSON'
 'NON-CRIMINAL' 'OTHER OFFENSES' 'PORNOGRAPHY/OBSCENE MAT' 'PROSTITUTION'
 'RECOVERED VEHICLE' 'ROBBERY' 'RUNAWAY' 'SECONDARY CODES'
 'SEX OFFENSES FORCIBLE' 'SEX OFFENSES NON FORCIBLE' 'STOLEN PROPERTY'
 'SUICIDE' 'SUSPICIOUS OCC' 'TREA' 'TRESPASS' 'VANDALISM' 'VEHICLE THEFT'
 'WARRANTS' 'WEAPON LAWS']

In [13]:
#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier(n_estimators=10)
#clf.fit(train, train['Category Encoded'])
#test =