# Exploring Weather Data (Sophia and Mac-I)
First, we'll start by importing everything we need

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import itertools
import re

import matplotlib.pyplot as plt

Now, let's read in the weather data and clean it up.

In [2]:
readData = pd.read_csv('./../weather1.csv')
readData = readData.replace('-9999', np.nan)
readData.describe()

,ELEVATION,LATITUDE,LONGITUDE,DATE,MDPR,DAPR,PRCP,SNWD,SNOW,TMAX,TMIN,TOBS,WT01,WT11
count,4517.000000,4517.000000,4517.000000,4517.000000,0,0,4517.000000,1365,1377,4517.000000,4517.000000,361.000000,0,1
mean,48.200244,37.770151,-122.429026,20087581.782378,NaN,NaN,14.906354,0,0,177.565862,106.725924,124.761773,NaN,1
std,3.571198,0.000498,0.003038,35733.385873,NaN,NaN,54.512583,0,0,40.620246,24.558027,27.550837,NaN,NaN
min,45.700000,37.769440,-122.434440,20030101.000000,NaN,NaN,0.000000,0,0,67.000000,22.000000,67.000000,NaN,1
25%,45.700000,37.769440,-122.433330,20060203.000000,NaN,NaN,0.000000,0,0,150.000000,89.000000,106.000000,NaN,1
50%,45.700000,37.770500,-122.426900,20090308.000000,NaN,NaN,0.000000,0,0,172.000000,106.000000,122.000000,NaN,1
75%,53.300000,37.770500,-122.426900,20120410.000000,NaN,NaN,0.000000,0,0,194.000000,122.000000,144.000000,NaN,1
max,53.300000,37.770500,-122.426900,20150514.000000,NaN,NaN,864.000000,0,0,367.000000,200.000000,222.000000,NaN,1

Create a column for each station name

In [3]:
stations = readData['STATION_NAME'].unique()
stations

array(['SAN FRANCISCO DOWNTOWN CA US'], dtype=object)

Previously, we tried to get data from multiple difference sources. The code below is us exploring how to import that data and work with it. (This code won't actually run because we no longer have data for those sources in our repo. (All of our data is downtown data)

In [ ]:
stationOcean = readData.loc[readData['STATION_NAME'] == stations[0]]
station30 = readData.loc[readData['STATION_NAME'] == stations[1]]
stationDowntown = readData.loc[readData['STATION_NAME'] == stations[2]]
station11 = readData.loc[readData['STATION_NAME'] == stations[3]]
station28 = readData.loc[readData['STATION_NAME'] == stations[4]]

In [ ]:
print len(stationOcean)
print len(station30)
print len(stationDowntown)
print len(station11)
print len(station28)

In [ ]:
stationDowntown.is_copy = False
stationDowntown.describe()

In [ ]:
# stationDowntown['DATE'] = stationDowntown['DATE'].astype(str);
stationDowntown['DATE'] = stationDowntown.DATE.astype(str)

In [ ]:
stationDowntown['YEAR'] = stationDowntown['DATE'].apply(lambda x: x[:4]).astype(int)
stationDowntown['Month'] = stationDowntown['DATE'].apply(lambda x: x[4:6]).astype(int)
stationDowntown['Day'] = stationDowntown['DATE'].apply(lambda x: x[6:8]).astype(int)

In [ ]:
stationDowntown

In [ ]:
grouped = stationDowntown.groupby(['YEAR', 'Month'])
monthAverage = grouped.aggregate(np.average)
plt.plot(monthAverage['TMAX'].values)
plt.plot(monthAverage['TMIN'].values)
plt.show()
# grouped.get_group(1)
# for name, group in grouped:
#     print(name)
#     print(group)

In [ ]:
plt.plot(monthAverage['PRCP'].values)
plt.show()